<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="style.css">
      <link rel="icon" type="image/x-icon" href="icon.png"> 
    <title>Document</title>
</head>
<body>
      <div class="content">
                     

                         <h1>inscription</h1>
          <form  method="post" action="/incription">
                   <label for="">Nom</label>
                   <br>
                     <input placeholder="Votre Nom" type="text" name="nom" id="">
                     <br>

                     <label for="">Prenom</label>
                   <br>
                     <input placeholder="Votre Prenom" type="text" name="prenom" id="">
                     <br>
                  <label for="">Email</label>
                   <br>
                 <input placeholder="email" type="text" name="email" id="">
                    </br>
                 <label for="">Mot de passe</label>
                    <br>
                 <input class="mdp" value="" placeholder="Mot de passe" type="password" name="mdp" id="">
                    <br>
                    <label for="">Confirmer votre mot de passe</label>
                    <br>
                       
                       
                    
                    <input class="confmdp" value=""  placeholder="Confirmer votre mot de passe" type="password" name="confmdp" id="">
                     <br>
                       <p class="verif"></p>
                        <br>

                 <button class="btn" type="submit">
                      inscription
                 </button>

          </form>
      </div>
           <script
             src="app.js"
           ></script>
</body>
</html>