<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Qest2</title>
  </head>
  <body>
    <div class="quiz">
      <form method="post" action="/qest2">
           
         <h1>Quel est le surnon de Lanja l2 idev</h1>  
        
        <label for="option3">SQL</label>
        <input type="radio" id="option3" name="options" value="SQL" />

        <label for="option4">Friendzone</label>
        <input type="radio" id="option4" name="options" value="Friendzone" />

        <label for="option5">Bogosy</label>
        <input type="radio" id="option5" name="options" value="Bogosy" />

        <button class="btn">Corriger</button>
      </form>
    </div>
  </body>
</html>
