<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css" />
    <title>Qest5</title>
</head>
<body>
       <div class="quiz">
           <form method="post" action="/qest5">
            <div><img class="img2" src="/assets/sary2.gif" alt="sary"> </div>
               <h2>Le meilleur ami des developpeurs</h2>
               <label for="option9">Notepad</label>
               <input type="radio" id="option11" name="options" value="notepad" />
       
               <label for="option10">World</label>
               <input type="radio" id="option12" name="options" value="world" />
       
               <label for="option11">Vscode</label>
               <input type="radio" id="option13" name="options" value="vscode" />
                    
                    <button class="btn"> Corriger </button>


           </form>
       </div>
</body>
</html>