<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css" />
    <title>Qest3</title>
</head>
<body>
       <div class="quiz">
           <form method="post" action="/qest3">
            <div><img class="img2" src="/assets/sary2.gif" alt="sary"> </div>
            <h2>Donne un personage de la serie Mr Robot </h2>
                 
            <label for="option1">Obama</label>
        <input type="radio" id="option6" name="options" value="Obama" />

        <label for="option2">Landry</label>
        <input type="radio" id="option7" name="options" value="Landry" />

        <label for="option3">Eliot</label>
        <input type="radio" id="option8" name="options" value="eliot" />
                    
                    <button class="btn"> Corriger </button>


           </form>
       </div>
</body>
</html>