<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="containr">

         <h1>Se connecter</h1>
          <form action="/log">

            <label for="">login</label>
            <br>
            <input type="text" name="login" >
            <br>
            <label for="">Mot de passe</label>
            <br>
             <input type="text" name="pass" >
               <br>
             <a href="/register">Creer un nouveau compte</a>

          </form>
      </div>
</body>
</html>