<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qest1</title>
</head>
<body>
       <div>
           <form method="post" action="/qest1">
                  <h3> Qui sont les menbre du group Milay de Esti?</h3>
                 <input type="text" name="question1" id="q1">
                      <br>
                    <button> Reponse </button>


           </form>
       </div>
</body>
</html>