<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css" />
    <title>Qest4</title>
</head>
<body>
       <div class="quiz">
           <form method="post" action="/qest4">
            <div><h1>Question 4:</h1></div>
            <h2>Donne ma race de chien preferer </h2>
                 <input type="text" name="question4" id="q4">
                    
                    <button> Reponse </button>


           </form>
       </div>
</body>
</html>