<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Qest1</title>
  </head>
  <body>
    <div class="quiz">
      <form method="post" action="/qest1">
        <div><h1>Question 1:</h1></div>
        <h2>Qui sont les menbre du group Milay de Esti?</h2>
        <input type="text" name="question1" id="q1" />
        <br />
        <button>Reponse</button>
      </form>
    </div>
  </body>
</html>
