<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css" />
    <title>Qest2</title>
</head>
<body>
       <div class="quiz">
           <form method="post" action="/qest2">
            <div><h1>Question 2:</h1></div>
                     <h2>Quel est le surnon de Lanja </h2>
                 <input type="text" name="question2" id="q2">
                    
                    <button> Reponse </button>


           </form>
       </div>
</body>
</html>