<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css" />
    <title>Qest5</title>
</head>
<body>
       <div class="quiz">
           <form method="post" action="/qest5">
            <div><h1>Question 5:</h1></div>
               <h2>Dit moi quel est mon plat preferer</h2>
                 <input type="text" name="question5" id="q5">
                    
                    <button> Reponse </button>


           </form>
       </div>
</body>
</html>